

#main-flashcard {
  border: 1px solid black;
  text-align: center;
  width: 45%;
  font-size: 30px;
  min-height: 40%;
  background-color: blue;
}

#missed_vocab {
  width: 100%;
  overflow-x: scroll;
}

.missed_flashcard {
  width: 45%;
  border: 1px solid black;
}

#answers {

}

#answers button {
  display: block;
  border: 1px solid black;
}
